---
# Central store etcd port
etcd_port: 2379
# Central store etcd host/ip
etcd_connection: 0.0.0.0

# Enable etcd SSL TLS cert based auth options
#etcd_ca_cert_file: /path/to/ca_cert_file.pem
#etcd_cert_file: /path/to/client_cert_file.pem
#etcd_key_file: /path/to/client_key_file.pem


log_cfg_path: /etc/tendrl/notifier/notifier_logging.yaml
log_level: DEBUG
logging_socket_path: /var/run/tendrl/message.sock

# Interval at which all alert notifications are processed and dispatched. Warning, lower interval will result in more resource consumption

notification_check_interval: 30

with_internal_profiling: False
tags:
- tendrl/notifier
