---
# Central store etcd port
etcd_port: 2379
# Central store etcd host/ip
etcd_connection: 0.0.0.0
log_cfg_path: /etc/tendrl/notifier/notifier_logging.yaml
log_level: DEBUG
logging_socket_path: /var/run/tendrl/message.sock
with_internal_profiling: False
tags:
- tendrl/notifier
